:root{
    --background_color: rgb(16, 22, 56);
    --text_color: rgb(201, 87, 163);
    /* background-color: var(--light_blue_shade); */

}

body {
    /* font-family: Consolas, monospace; */
    background-color: var(--background_color);
    color: var(--text_color);
    font-family: 'JetBrains Mono', monospace;
    font-weight: bolder;
}

.clock {
    border: 1px solid #3f3f3f;
    padding: 10px;
    min-width: auto;
    white-space: pre;
    letter-spacing: 4px;
    line-height: 0.85;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

/* basic spacing between blocks inside clock */
.block, .colon_block {
    background-color:  var(--background_color);
    align-items: center;
    margin: 0px;

}

.positive {
    color: rgb(81, 181, 248);
}


.negative {
    color: rgb(9, 12, 31);
}